.recommend_box {
  position: relative;
  display: flex; /* Flexbox 사용 */
  flex-direction: column;
  justify-content: flex-start; /* 위쪽 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  width: 700px;
  height: 300px; /* 높이를 내용에 맞게 자동 조정 */
  background-color: #f5f7ff;
  border-radius: 12px;
  padding: 20px; /* 내부 여백 추가 */
  margin-top: 32px;
}

.recommend_box .recommend_title {
  font-weight: 400;
  color: #98b5ff;
  font-size: 20px;
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
}

.musicButton {
  margin-top: 30px;
  width: 600px; /* 버튼의 너비 */
  height: auto; /* 버튼의 높이 */
  cursor: pointer;
  position: relative;

  top: 45px;
}
